/*
DEFAULT
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
GLOBAL STATES
*/

#intro-text-pin {
    padding-top: 5vh;
    margin-bottom: auto;
    padding-left: 10%;
    transition: opacity 0.1s ease;
}

.scene-container {
    box-shadow: -10px 0px 10px 1px #aaaaaa93;   

}

.hidden {
    opacity: 0;
}



/*
PART 1 CONTENT
*/

#part-1 {
    height: 500vh;
    width: 100vw;
    
}
/* Scrolls with scene 1 */
#part-1-env {
    position: sticky;
    top: 1px;
    left: 1px;
    height: 80vh;
    width: 100vw;
    background: #d8c3bd;
    filter: drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.2));
    box-shadow: 0px 0px 0px 1px #aaaaaa93;   
    border-radius: 20px;

    transition: height 0.4s ease, width 0.4s ease, left 0.4s ease, top 0.4s ease;
}
#part-1-env.shift-right {
    height: 100vh; 
    width: 50vw;
    left: 50vw;   
}
#part-1-env.shift-up {
    width: 100vw; 
    height: 50vh; 
    left: 0vw; 
    top: 50vh;
}


#scene-1-text {
    position: sticky;
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60vh;
    gap: 60vh;

    transition: height 0.4s ease, width 0.4s ease, top 0.4s ease;
    padding-left: 10vw; 
    padding-right: 10vw;
}
/* If you change the width here, remember to update other .shift-right */
#scene-1-text.shift-right {
    height: 100vh; 
    width: 50vw; 
}
#scene-1-text.shift-up {
    height: 40vh; 
    width: 100vw;
    top: -100vh;  
}


/* 
Particles for Scene 1
*/
.animated-co2-particle {
    position: absolute;
    height: 16vh;
    width: 16vh;
    background-color: #f5a5a5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    top: 5vh;
    left: 2vw;

    transition: opacity 0.8s ease-in-out;
}
.animated-o2-particle {
    position: absolute;
    height: 16vh;
    width: 16vh;
    background-color: #c4fdff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

        top: 5vh;
        left: 50vw;

        transition: opacity 0.8s ease-in-out;
    }

.animate-particle-conversion {
    opacity: 1;
    animation: particle-animation-co2 2s infinite; 
}

/* 
TREE 3
*/

.tree_3 {
    position: absolute;
    opacity: 0;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: 42vh; 
    left: 36vw;
    transform: rotate(0deg);
    transition: left 0.2s ease, top 0.2s ease, scale 0.5s ease, opacity 0.5s ease, transform 1.8s ease;      
}
.tree_3.shift-right {
    transform: rotate(13deg);
    opacity: 0.7;
}
.trunk_3 {
    height: 40vh;
    width: 2vw; 
    background-color: rgb(145, 115, 77);    
}
.canopy_3 {
    position: absolute;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));
    width: 0; 
    height: 0;
    border-left: 15vh solid transparent;
    border-right: 15vh solid transparent;
    border-bottom: 30vh solid rgb(45, 138, 65);
}
.canopy_3:nth-child(2) {
    left: -6.5vw;
    top: -10vh;
}
.canopy_3:nth-child(1) {
    top: -5vh;
    left: -6.5vw;
}
.canopy_3:nth-child(3) {
    left: -6.5vw; 
    top: -15vh;
}


/*
TREE 2
*/

.spot_2 {
    position: absolute;
    height: 2vw; 
    width: 2vw;

    background-color: black;
}
.spot_2:nth-child(3) {
    top: 32vh;
    left: 1vw;
}
.spot_2:nth-child(4) {
    top: 20vh;
    left: -1vw;
}

.tree_2 {
    position: absolute;
    opacity: 0;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: 42vh; 
    left: 16vw;
    transform: rotate(0deg);
    transition: left 0.2s ease, top 0.2s ease, scale 0.5s ease, opacity 0.5s ease, transform 1.8s ease;     
}
.trunk_2 {
    height: 40vh;
    width: 2vw; 
    background-color: rgb(231, 207, 180);
}
.tree_2.shift-right {
    transform: rotate(-13deg);
    opacity: 0.7;
}
.leaf_2 {
    position: absolute;
    width: 5vw;
    height: 5vw; 
    border-radius: 20px;
    background-color: rgb(207, 164, 44);  
}
.leaf_2:nth-child(2) {
    left: -13vh;
    width: 10vw;
    height: 20vh;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));
    box-shadow: -10px 0px 10px 1px #00000065;   
}
.leaf_2:nth-child(1) {
    height: 30vh;
    width: 10vw;
    left: -3.75vw;
    top: -18vh;
}


/* 
TREE 
*/
.tree {
    position: absolute;

    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: 30vh; 
    left: 47vw;
    transition: left 0.2s ease, top 0.2s ease, scale 0.5s ease; 
}
.tree.shift-right {
    top: 40vh;
    left: 25vw;
}
.tree.shift-up {
    scale: 2;
    top: 60vh;  
}
.trunk {
    height: 40vh;
    width: 4vw; 
    background-color: rgb(184, 143, 96);
}
.branch {
    position: absolute;
    width: 1vw; 
    height: 20vh;
    background-color: rgb(184, 143, 96);
}
.leaf {
    position: absolute;
    width: 5vw;
    height: 5vw; 
    border-radius: 20px;
    background-color: green;
}

.leaf:nth-child(odd) {
    transform: rotate(67deg);
    left: -2vw; 
    top: -2vw;
}
.branch:nth-child(odd) {  
    transform:rotate(-67deg);
    top: 5vh;
    left: -1.5vw;
}
.branch:nth-child(even) {
    transform: rotate(67deg);
    left: 6vw;
}
.canopy {
    position: absolute;
    height: 12vw;
    width: 12vw;
    background-color: green;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: -20vh;
    left: -4vw;
    border-radius: 40px;

}

.ground {
    width: 26vw; 
    height: 10vh;
    
    top: 70vh; 
    left: 36vw;
    transition: left 0.5s ease, top 0.4s ease; 
    
    background-color: rgb(228, 227, 156);
    position: absolute;
    border-radius: 60px;

    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.1 ));
}

.ground.shift-right {
    top: 80vh;
    left: 15vw;
}


/*
PART 2 CONTENT
*/

#part-2 {
    display: flex; 
    flex-direction: row;
    height: 200vh;
    width: 100vw; 
    background-color: rgb(211, 211, 211);
}

#scene-2-text {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#deforestation_map {
    width: 40vw;
    height: 40vw;
    
    border-radius: 70px;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));
}
.main-text-scene-2 {
    width: 100vw;
    padding: 10vw;
    display: flex;
    flex-direction: row;
}

/*
PART 3 CONTENT
*/

#part-3 {
    height: 500vh;
    width: 100vw; 
    background-color: rgb(179, 160, 119);
}
#part-3-env {
    position: sticky;
    top: 1px;
    left: 1px;
    height: 100vh;
    width: 100vw;
    opacity: 0.6;
    background-color: rgb(255, 255, 255);
}
#scene-3-text {
    position: absolute;
    height: 400vh;
    width: 20vw;
    padding-left: 10vw;;
}

.text-bubble-classic {
    width: fit-content;
    height: fit-content;
    padding: 2vh;
    background-color: #d8c3bd;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

}



/* 
LOG
*/
.log {

    position: absolute;
    width: 5vw;
    height: 80vh;
    top: 10vh;
    left: -10vw;
    background: repeating-linear-gradient(90deg,#a0522d,#8b4513 10px,#8b4513 20px);

    border: 5px solid #8b4513;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    scale: 0.5;

    transition: left 0.5s cubic-bezier(1, 0, 0, 1), opacity 0.5s cubic-bezier(1, 0, 0, 1), scale 0.5s ease-in-out, transform 0.5s ease-in-out, height 0.5s cubic-bezier(1, 0, 0, 1);
}
.log.timber:nth-child(1) {
    scale: 1;
    opacity: 1;
    left: 10vw;
}
.log.timber:nth-child(2) {
    scale: 1;
    opacity: 0.95;
    left: 17vw;
}
.log.timber:nth-child(3) {
    scale: 1;
    opacity: 0.9;
    left: 24vw;
}
.log.timber.fallen:nth-child(1) {
    transform-origin: 100% 100%;
    transform: rotate(90deg);
}
.log.timber.fallen:nth-child(2) {
    transform-origin: 100% 80%;
    left: 36vh;
    transform: rotate(90deg);
}
.log.timber.fallen:nth-child(3) {
    transform-origin: 100% 60%;
    left: 52vh;
    transform: rotate(90deg);
}


/* 
    TEXT FONTS PRESET
*/

.preset-font-wood {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}

.preset-font-bark {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
}

.preset-font-twig {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    color: black;
    letter-spacing: 2px;
}


/* 
ANIMATION KEYFRAME SECTION
*/

@keyframes particle-animation-co2 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50vw);
        opacity: 0;
    }
}