html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#test-component-1 {
    height: 120vh;
    width: 100vw;
    background-color: tan;
}
#test-component-2 {
    min-height: 100vh;
    min-width: 100vw;
    background-color: green;
}