/*
DEFAULT
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
GLOBAL STATES
*/

.pinned-content {
    position: sticky;

}

/*
PART 1 CONTENT
*/

#part-1 {
    height: 500vh;
    width: 100vw;
    
}
/* Scrolls with scene 1 */
#part-1-env {
    position: sticky;
    top: 1px;
    left: 1px;
    height: 80vh;
    width: 100vw;
    background: linear-gradient(135deg, #ffbeae, #b7d4d1);
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    transition: height 0.4s ease, width 0.4s ease, left 0.4s ease;
}
#part-1-env.shift-right {
    height: 100vh; 
    width: 50vw;
    left: 50vw;   
}

/* 
TREE 
*/
.tree {
    position: absolute;

    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: 30vh; 
    left: 47vw;
    transition: left 0.2s ease, top 0.2s ease; 
}
.tree.shift-right {
    top: 40vh;
    left: 25vw;
}
.trunk {
    height: 40vh;
    width: 4vw; 
    background-color: rgb(184, 143, 96);
}
.branch {
    position: absolute;
    width: 1vw; 
    height: 20vh;
    background-color: rgb(184, 143, 96);
}
.leaf {
    position: absolute;
    width: 5vw;
    height: 5vw; 
    border-radius: 20px;
    background-color: green;
}

.leaf:nth-child(odd) {
    transform: rotate(67deg);
    left: -2vw; 
    top: -2vw;
}
.branch:nth-child(odd) {  
    transform:rotate(-67deg);
    top: 5vh;
    left: -1.5vw;
}
.branch:nth-child(even) {
    transform: rotate(67deg);
    left: 6vw;
}
.canopy {
    position: absolute;
    height: 12vw;
    width: 12vw;
    background-color: green;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.2));

    top: -20vh;
    left: -4vw;
    border-radius: 40px;
}

.ground {
    width: 26vw; 
    height: 10vh;
    
    top: 70vh; 
    left: 36vw;
    transition: left 0.5s ease, top 0.4s ease; 
    
    background-color: rgb(228, 227, 156);
    position: absolute;
    border-radius: 60px;

    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.1 ));
}

.ground.shift-right {
    top: 80vh;
    left: 15vw;
}


/*
PART 2 CONTENT
*/

#part-2 {
    
    height: 100vh;
    width: 100vw; 
    background-color: blue;
}

/*
PART 3 CONTENT
*/

#part-3 {
    height: 100vh;
    width: 100vw; 
    background-color: green;
}


/* 
ANIMATION CLASSES (wraps any element that wants the animation)
*/

