/*
DEFAULT
*/

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
GLOBAL STATES
*/

.pinned-content {
    position: sticky;

}

/*
PART 1 CONTENT
*/

#part-1 {
    height: 1000vh;
    width: 100vw;
    background-color: rgb(126, 184, 238);

}

#part-1-env {

    position: sticky;
    top: 30%;
}
#part-1-env #iceberg {
    position: absolute;
    scale: 0.7;
}
/* has animation: jitter */
#part-1-env .penguin {
    position: absolute;
    scale: 0.3;
    top: -100px;
}
#part-1-env #penguin1 {
    left: 350px;
    top: 100px;
}
#part-1-env #penguin2 {
    top: 50px;
    left: 160px;
    transform: scaleX(-1);
}
#part-1-env #melting-iceberg {
    position: absolute;
    scale: 0.7;
    opacity: 0.9;
    top: -50px;
    left: 30px;
}

/*
PART 2 CONTENT
*/

#part-2 {
    height: 100vh;
    width: 100vw; 
    background-color: blue;
}

/*
PART 3 CONTENT
*/

#part-3 {
    height: 100vh;
    width: 100vw; 
    background-color: green;
}


/* 
ANIMATION CLASSES (wraps any element that wants the animation)
*/

.jitter-animation {
    transform-origin: center center;
    animation: jitter 1s infinite alternate;
}

/* 
ANIMATION KEYFRAMES
*/

@keyframes jitter {
    0% {transform: rotate(-2deg); }
    100% {transform: rotate(2deg);}
}